<ul class="table">
    <li class="head">
        <span class="column" *ngFor="let col of model.columns" [style.width]="col.widthPercent+'%'">{{col.title}}</span>
    </li>
    <li *ngFor="let row of model.rows">
        <span class="column" *ngFor="let col of model.columns" [style.width]="col.widthPercent+'%'">
            <span *ngIf="col.dataType == 'text'">{{row[col.key] | uppercase}}</span>
            <span *ngIf="col.dataType == 'datetime'">{{row[col.key] | date:'shortTime'}}</span>
            <span *ngIf="col.dataType == 'date'">{{row[col.key] | date:"MM/dd/yy"}}</span>
        </span>
    </li>

</ul>

<div *ngIf="!model.isReady" class="loading">
    <app-spinner-component></app-spinner-component>
</div>

<app-pagging-component *ngIf="model.isReady"
                       [total]="model.totalItems"
                       [pageSize]="model.pageSize"
                       [currentPage]="model.page"
                       (change)="onPageChange($event)">
</app-pagging-component>
