<div class="page">
    <div class="row">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" [routerLink]="['/profiles/view']"
                    routerLinkActive="active" role="tab" aria-controls="v-pills-home" aria-selected="true">Profile</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill"
                    [routerLink]="['/profiles/change-password']" routerLinkActive="active" role="tab"
                    aria-controls="v-pills-profile" aria-selected="false">Change password</a>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
