<div class="page">
    <div class="row">
        <div class="col-md-12">
            <h1>{{strings.USERS}}</h1>
            <button class="btn btn-success" (click)="create()">Create</button>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <app-table-component [model]="table"></app-table-component>
            </div>
        </div>
    </div>
</div>
