<div class="page">
    <form class="form" novalidate>
        <div class="row">
            <div class="col-md-6">
                <h3>{{strings.ACCOUNT}}</h3>
                <div class="form-group">
                    <label>{{strings.EMAIL}}</label>
                    <input name="Email" type="email" class="form-control" value="{{model.email}}"
                        placeholder="{{strings.EMAIL}}" disabled />
                </div>
                <div class="form-group {{true?'':'error'}}">
                    <label>{{strings.FIRST_NAME}}</label>



                    <input name="FirstName" type="text" [(ngModel)]="model.firstName" class="form-control"
                    placeholder="{{strings.FIRST_NAME}}"  />


                    <div class="alert alert-danger" *ngIf="!model.isFirstNameValid">
                        {{strings.FIRST_NAME_REQUIRED}}
                    </div>
                </div>
                <div class="form-group">
                    <label>{{strings.LAST_NAME}}</label>
                    <input name="LastName" type="text" [(ngModel)]="model.lastName" class="form-control"
                        placeholder="{{strings.LAST_NAME}}"  />
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-success" (click)="save()" >{{strings.SAVE}}</button>
    </form>
</div>
