<h1>{{title}}</h1>
<p>Please click account to login</p>
<ul>
    <li *ngFor="let version of versions">{{version}}</li>
</ul>
<button type="button" class="btn btn-primary" routerLink='view/test'>Learn about router</button>

<div class="page">
    <div class="row">
        <div class="col-md-12">
            <h1>{{strings.CLASSSCHEDULES}}</h1>
            <!-- <button class="btn btn-success" (click)="create()">Create</button> -->

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <app-table-component [model]="table"></app-table-component>
            </div>
        </div>
    </div>
</div>

