<header>
    <app-navigation-component></app-navigation-component>
</header>
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>
<footer>
    <app-footer-component></app-footer-component>
</footer>
<!-- <app-system-message-component></app-system-message-component> -->




