<h1>Href</h1>
<a href="information" class="btn btn-outline-primary">href</a>
<h1>Absolute path routing</h1>
<h4>.navigateByUrl()</h4>
<div class="row">
    <div class="col">
        <a (click)="navigateByUrl()" class="btn btn-outline-primary">navigateByUrl</a>
        <span>/a</span>
    </div>
</div>
<h1>Relative path routing</h1>
<h4>routerLink</h4>
<div class="row">
    <div class="col">
        <a (click)="navigate('/a')" class="btn btn-outline-primary">Case 1</a>
        <span>/a</span>
    </div>
    <div class="col">
        <a (click)="navigate('a')" class="btn btn-outline-primary">Case 2</a>
        <span>a</span>
    </div>
    <div class="col">
        <a (click)="navigate('./a')" class="btn btn-outline-primary">Case 3</a>
        <span>./a</span>
    </div>
    <div class="col">
        <a (click)="navigate('../a')" class="btn btn-outline-primary">Case 4</a>
        <span>../a</span>
    </div>
    <div class="col">
        <a (click)="navigate('../../a')" class="btn btn-outline-primary">Case 5</a>
        <span>../../a</span>
    </div>
</div>
<h4>.navigate()</h4>
<div class="row">
    <div class="col">
        <a routerLink='/a' class="btn btn-outline-primary">Case 1</a>
        <span>/a</span>
    </div>
    <div class="col">
        <a routerLink='a' class="btn btn-outline-primary">Case 2</a>
        <span>a</span>
    </div>
    <div class="col">
        <a routerLink='./a' class="btn btn-outline-primary">Case 3</a>
        <span>./a</span>
    </div>
    <div class="col">
        <a routerLink='../a' class="btn btn-outline-primary">Case 4</a>
        <span>../a</span>
    </div>
    <div class="col">
        <a routerLink='../../a' class="btn btn-outline-primary">Case 5</a>
        <span>../../a</span>
    </div>
</div>